# Name: Wan Muhammad Luqman

In [5]:
#importing regular expression library 
import re

### re.match() 
#### check for a match at the beginning of a string

In [9]:
#using re.match 
#to find the first occurrence of the letter 'I' in the string 
 
sentence1 = re.match (r'I', 'I am learning text analytics') 
print (sentence1) 

# <re.Match object; span = (0, 1), match='I'> 
# The output shows a match because the letter 'I' is at the beginning of the string

<re.Match object; span=(0, 1), match='I'>

In [11]:
#use another examples
 
sentence2 = re.match (r'v', 'I am learning text analytics') 
print (sentence2) 

#The output shows None because the letter 'v' does not exist at the beginning of the string

None

In [15]:
#use another examples

sentence3 = re.match (r'am', 'I am learning text analytics') 
print (sentence3) 

#The output shows None because the word 'am' does not exist at the beginning of the string

None

### re.research()
#### find the first occurrence of a pattern in a string regardless of the location

In [17]:
sentence4 = re.search(r'am', 'I am learning text analytics')
print (sentence4)  

#The output shows a match because the word 'am' exists in the string

<re.Match object; span=(2, 4), match='am'>

In [19]:
sentence5 = re.search(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence5)  

#The output is similar with previous example even though there are two (2) 'am' in the string. 
#However, re.search( ) only returns the first occurrence of ‘am’ in the string

<re.Match object; span=(2, 4), match='am'>

### re.findall()
#### find all of the occurrences of a pattern in a string

In [22]:
sentence6 = re.findall(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence6)

#The output shows ['am', 'am'] because there are two (2) 'am' in the string

['am', 'am']

### re.split()
#### split a string by the occurrence of a given pattern

In [24]:
sentence7 = re.split(r'and', 'I am learning text analytics and am enjoying it')  
print (sentence7) 

#The string is split into two (2) by the pattern 'and'

['I am learning text analytics ', ' am enjoying it']

In [26]:
sentence8 = re.split(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence8)  

#The string is split into three (3) by the pattern 'am'

['I ', ' learning text analytics and ', ' enjoying it']

In [28]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=1) 
print (sentence9)  

# By including the argument maxsplit = 1 (default value is zero),
# the string is split into two (2) by the first occurrence of 'am'

['I ', ' learning text analytics and am enjoying it']

In [30]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=2) 
print (sentence9)

# By including the argument maxsplit = 2 (default value is zero), the string is split 
# into three (3) by the first two occurrences of 'am'

['I ', ' learning text analytics and ', ' enjoying it']

In [32]:
sentence10 = re.split(r'am', 'I am learning text analytics, I am enjoying it and I am going to ace it', maxsplit=3) 
print (sentence10)  

#By including the argument maxsplit = 3 (default value is zero), the string is split into four (4)
#by the first three occurrences of 'am'

['I ', ' learning text analytics, I ', ' enjoying it and I ', ' going to ace it']

### re.sub()
#### find the occurrence of a given pattern in a string and replace with a new value

In [35]:
sentence11 = re.sub(r'I', 'we', 'I like text analytics and I enjoy learning it') 
print (sentence11)  

#The word ' I ' is changed to 'we' and are replaced in two (2) occurrences

we like text analytics and we enjoy learning it

### Metacharacter 
#### specifying a set of characters to be matched

In [37]:
sentence1 = re.findall (r'.', 'I am learning text analytics') 
print (sentence1) 
 
# '•' Find any characters in a string (including spaces) except new line
# Return 28 characters (including spaces)

['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 't', 'e', 'x', 't', ' ', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [41]:
sentence2 = re.findall (r'\w', 'I am learning text analytics') 
print (sentence2) 
 
# '\w' finds any single character in a string (excluding spaces) except new line and spaces 
# Return 24 characters (including spaces)

['I', 'a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 't', 'e', 'x', 't', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [42]:
sentence3 = re.findall (r'\w*', 'I am learning text analytics') 
print (sentence3) 
 
# '\w*' Matches any characters with zero (0) or more characters in a string including spaces
# Return the five (5) words plus spaces

['I', '', 'am', '', 'learning', '', 'text', '', 'analytics', '']

In [45]:
sentence4 = re.findall (r'\w+', 'I am learning text analytics') 
print (sentence4) 
 
# '\w+' one (1) or more characters in a string excluding spaces
# Return the five (5) words plus spaces

['I', 'am', 'learning', 'text', 'analytics']

In [48]:
sentence5 = re.findall (r'^\w+', 'I am learning text analytics') 
print (sentence5) 
 
# '^\w+' First word is selected

['I']

In [52]:
sentence6 = re.findall (r'\w+$', 'I am learning text analytics') 
print (sentence6) 
 
# The dollar ($) metacharacter matches the end of a string. It represents the end of a line or string.
# Last word is selected

['analytics']

In [53]:
#now try change + to * and put white spaces at the end of the string
sentence6 = re.findall (r'\w*$', 'I am learning text analytics ') 
print (sentence6) 

# the result is '' as it is the last character

['']

In [55]:
sentence7 = re.findall (r'\w\w', 'I am learning text analytics') 
print (sentence7) 
 
# '\w\w' 2 consecutive characters are selected 
# ‘I’ is not selected because it only contains one character

['am', 'le', 'ar', 'ni', 'ng', 'te', 'xt', 'an', 'al', 'yt', 'ic']

In [71]:
sentence8 = re.findall (r'\b\w\w', 'I am learning text analytics') 
print (sentence8) 
 
# 2 consecutive characters in a string are selected

['am', 'le', 'te', 'an']

### extracting domain name from email

In [82]:
sentence9 = re.findall (r'@\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence9) 
 
# Only the first word in the domain name is selected

['@text', '@analytics', '@textanalytics']

In [83]:
sentence10 = re.findall (r'@\w+.\w+','user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence10)

['@text.com', '@analytics.gov', '@textanalytics.edu']

In [84]:
sentence11 = re.findall (r'@\w+.\w+.\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence11) 
 
# The full domain name is selected

['@text.com.my', '@analytics.gov.my', '@textanalytics.edu.my']

In [88]:
sentence12 = re.findall (r'@\w+.(\w+.\w+)', 'user@text.com.my, user@analytics.gov.my,  user@textanalytics.edu.my')
print (sentence12) 
 
# To display the type of domain

['com.my', 'gov.my', 'edu.my']

### extracting date into dd-mm-yyyy format

In [89]:
sentence13 = re.findall (r'\d{2}-\d{2}-\d{2}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence13) 
 
# To display the date in the format of dd-mm-yy

['15-05-20', '20-08-20']

In [90]:
sentence14 = re.findall (r'\d{2}-\d{2}-\d{4}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence14) 
 
# To display the date in the format of dd-mm-yyyy

['15-05-2001', '20-08-2000']

In [91]:
sentence15 = re.findall (r'\d{2}-\d{2}-(\d{4})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence15) 
 
# Only the year will be displayed

['2001', '2000']

### now take out the 2 digits from the yyyy date

In [92]:
#solution 1
sentence15 = re.findall (r'\d{2}-\d{2}-\d{2}(\d{2})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence15)

['01', '00']

In [94]:
#solution 2
from datetime import datetime

sentence15 = re.findall(r'(\d{2}-\d{2}-\d{4})','Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
formatted_dates = [datetime.strptime(match,'%d-%m-%Y').strftime('%d-%m-%y') for match in sentence15]
print(formatted_dates)

['15-05-01', '20-08-00']